---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Page Not Found - Scripture Alive"
  description=""
  ogImage="https://scripturealive.com/wp-content/uploads/2023/11/scripturealive.png"
>


  <article class="max-w-4xl mx-auto px-6 py-12">
    <h1 class="text-4xl font-bold mb-6 text-primary">The page can&rsquo;t be found.</h1>
<p class="mb-4 leading-relaxed">It looks like nothing was found at this location.</p>
    
  </article>

</Layout>
